/* set common properties for entire page */
body {
  display: block;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* set properties for header */
header {
  display: flex;
  position: fixed;
  z-index: 2;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
  top: 0;
}

/* set properties for logo in the header */
.logo {
  padding-left: 10px;
  flex-grow: 1;
  text-align: left;
}

.logo img {
  height: 50px;
}

/* set properties for header navigation links */
header nav {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

/* add space between items in nav element */
nav span {
  padding: 0px 10px;
}

/* set color for nav links */
a {
  color: seashell;
}

/* properties for main section */
.main {
  width: 1200px;
  margin: auto;
  padding-top: 69px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("./resources/images/img-mission-background.jpg");
  height: 700px;
}

#mission .content {
  background-color: black;
 }
